p {
    text-align: justify;
}

h1 {
    text-align: center !important ;
    font-size: 3em !important;  
    margin-top: 60px !important;
    margin-bottom: 30px !important;
    padding: 10px !important;
    border: 1px solid black !important;
    background-color: #FFB266 !important;
    margin-left:20% !important;
    margin-right:20% !important;
}


#site-title.site-logo {
  font-size: 1.4em !important; 
  margin: 0 !important;
  padding-top: 40px !important;  
  background-color: #FFFFFF !important;
  border: 0 !important;
}

h2 {
    
    color: white !important;
    padding-top: 10px !important;
    border-top: 2px solid #02006c !important;
    background:#02006c !important;
    padding-bottom: 10px !important;
    border-bottom: 2px solid #02006c !important;
    padding-left: 20px;
    border-radius: 10px 10px 10px 10px ;
}

img[alt$=">"] {
  width: 20px !important;
  margin: 5px !important;
}

.picto {
  width: 20px !important;
  margin: 5px !important;  
    
}